.menu{
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}
.menu a {
  display: block;
  gap: 5px;
  margin: 5px 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.3s;
  border-radius: min(5px, 10%);
  background-color: #333;
  
}
.menu a:hover {
    background: #202020;
    padding:12px;
}
.menu h4{
  padding-left: min(20px, 5%);
  justify-content: center;
  font-weight: 800;
  font-variant: small-caps;
  font-size: min(1.1rem, 4vw);
}