.menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}
.menu a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  color: #ccc;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.menu a:hover {
  background: #1f1f1f;
  color: #00ff88;
}

.menu a.active {
  background: #00ff88;
  color: black;
  font-weight: bold;
}

.menu i {
  font-size: 18px;
  min-width: 25px;
  text-align: center;
}
.menu span {
  opacity: 0;
  white-space: nowrap;
  transition: 0.3s;
}

:host-context(.expanded) .menu span,
:host-context(.mobile-open) .menu span {
  opacity: 1;
}